

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du ABonné</title>
    <!-- Inclure Bootstrap ou autres styles si nécessaire -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h1>Détails du Abonné</h1>
    <div class="card">
        <div class="card-body">
            
           
            <p><strong>Nom :</strong> {{ abonne.nom }}</p>
            <p><strong>Prenom :</strong> {{ abonne.prenom }}</p>
            <p><strong>Adresse :</strong> {{ abonne.adresse }}</p>
            <p><strong>Date de inscription:</strong> {{ abonne.date_inscription }}</p>
            
        </div>
    </div>

    
    <a href="/abonnes" class="btn btn-secondary mt-3">Retour à la Liste</a>
</div>

</body>
</html>