<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du genre</title>
    <!-- Inclure Bootstrap ou autres styles si nécessaire -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h1>Détails du genre</h1>
    <div class="card">
        <div class="card-body">
            
            
            <p><strong>Genre :</strong> {{ genre.genre }}</p>
            
        </div>
    </div>

    <!-- Retour à la liste des documents -->
    <a href="/genres" class="btn btn-secondary mt-3">Retour à la Liste</a>
</div>

</body>
</html>