<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Genres</title>
    <!-- Inclure Bootstrap ou autres styles si nécessaire -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h1>Liste des Genres</h1>
    <table class="table table-striped">
        <thead>
            <tr>
               
                <th>Genre</th>
               
            </tr>
        </thead>
        <tbody>
            {% for g in genres %}
            <tr>
                <td>{{ g.genre }}</td>
                <td>
                    <a href="/genres/{{ g._id }}" class="btn btn-info btn-sm">Détails</a>
                    <a href="/genres/{{ g._id }}/update" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('{{ g._id }}')">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>

    <a href="/add_genre" class="btn btn-primary mt-3">Ajouter un Genre</a>
    <a href="/" class="btn btn-primary mt-3">Retour</a>
</div>

<!-- Ajout d'un script JavaScript pour la confirmation -->
<script>
    function confirmDelete(id) {
        // Demander à l'utilisateur de confirmer la suppression
        var confirmAction = confirm("Êtes-vous sûr de vouloir supprimer ce genre?");
        if (confirmAction) {
            // Si l'utilisateur confirme, rediriger vers la route de suppression
            window.location.href = '/genres/' + id + '/delete';
        }
    }
</script>

</body>
</html>