<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Emprunt</title>
    <!-- Inclure Bootstrap ou autres styles si nécessaire -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h1>Détails du Emprunt</h1>
    <div class="card">
        <div class="card-body">
           
           
            <p><strong>Nom de abonne</strong> {{ emprunt.abonne.nom }} {{ emprunt.abonne.prenom }}</p>
            <p><strong>Titre de document</strong> {{ emprunt.document.titre}}</p>
         
            <p><strong>Date de emprunt:</strong> {{ emprunt.date_emprunt}}</p>

            <p><strong>Date de retour:</strong> {{ emprunt.date_retour_prevu}}</p>
            
        </div>
    </div>

    <!-- Retour à la liste des documents -->
    <a href="/emprunts" class="btn btn-secondary mt-3">Retour à la Liste</a>
</div>

</body>
</html>