<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Principale - Liste des Emprunts</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Lien vers un fichier CSS -->
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="/abonnes">Abonnés</a></li>
            <li><a href="/documents">Documents</a></li>
            <li><a href="/emprunts">Emprunts</a></li>
        </ul>
    </nav>

    <!-- Contenu principal -->
    <main>
        <!-- Barre de recherche -->
        <div class="search-bar">
            <input type="text" placeholder="Rechercher un emprunt..." id="searchInput">
            <button onclick="searchEmprunts()">Rechercher</button>
        </div>

        <!-- Liste des emprunts -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom de l'Abonné</th>
                    <th>Titre du Document</th>
                    <th>Date Emprunt</th>
                    <th>Date Retour Prévu</th>
                    <th>Statut</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for em in emprunts %}
                <tr>
                    <td>{{ em.abonne.nom }} {{ em.abonne.prenom }}</td>
                    <td>{{ em.document.titre }}</td>
                    <td>{{ em.date_emprunt }}</td>
                    <td>{{ em.date_retour_prevu }}</td>
                    <td>{{ em.statut }}</td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
      
      
    </main>
</body>
</html>


















